@model SFBlog.Models.PostViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h4>@Model.Title</h4>
<div class="col-md-12">
    @foreach (var tag in Model.Tags)
    {
        <span class="badge bg-success text-light">@tag.Designation</span>
    }
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <p class="text-start">@Model.Content</p>
    </div>
</div>
<hr />
<div class="card-text text-right">@Model.Author</div>
 
@{
    await Html.RenderPartialAsync("_AddComment", new CommentEditViewModel{ PostId = Model.Id , Id = 0});
}

@{
    await Html.RenderPartialAsync("../Comment/_PostCommentList", Model.Comments);
}

@*<h6>Коментарии к статье</h6>
<div class="form-floating">
    @*<textarea class="comment-text col-md-12" rows="10" placeholder="Ваш комментарий" id="floatingTextarea2" style="height: 100px"></textarea>*@
    @*<textarea class="form-control" placeholder="Ваш комментарий" id="floatingTextarea2" style="height: 100px"></textarea>
</div>
<div class="form-group">
    <input type="submit" value="Оставить комментарий" class="btn btn-primary" />
 </div>*@

@*@foreach(var comment in Model.Comments)
{
    <div class="card">
        <div class="card-body">@comment.Content</div>
    </div>
    <p class="text-right">
        <span class="badge bg-success text-light">@comment.Author</span>
    </p>
    
}*@

